@page "/edit/product/{id}"
@inject ProductsController service
@inject ImagesController _img
@inject NavigationManager router



<div class="col-12 col-md-6 col-lg-6">
    <EditForm Model="@model" class="card" OnSubmit="Add">
        <div class="card-header">
            <h4>Edit Product</h4>
        </div>
        <div class="card-body">
            @if (@list.Count() > 0)
            {
                <div class="card">
                    <div class="card-header">
                        <h4>Image Check</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-label">Images: Ensure you upload only 3 files</label>
                            <div class="row gutters-sm">

                                @foreach (var item in list)
                                {
                                    <div class="col-6 col-sm-4">
                                        <label class="imagecheck mb-4">
                                            <input name="imagecheck" type="checkbox" value="2" class="imagecheck-input" checked />
                                            <span class="imagecheck-figure">
                                                <img src="@item" alt="}" class="imagecheck-image">
                                            </span>
                                        </label>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="form-group">
                <InputFile OnChange="@Upload" type="file" class="form-control" multiple="true" />
            </div>
            <div class="form-group">
                <InputText @bind-Value="@model.ProductName" placeholder="Enter Product Name" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <InputText @bind-Value="@model.Price" placeholder="Enter Price" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <InputText @bind-Value="@model.ShippingPrice" placeholder="Enter Shipping Price" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <InputText @bind-Value="@model.Tag" placeholder="Enter Tag" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <InputTextArea @bind-Value="@model.Description" placeholder="Enter Description" type="text" class="form-control" />
            </div>
            <div class="form-group" align="center">
                <button type="submit" class="btn btn-primary w-50">Submit</button>
            </div>
        </div>
    </EditForm>
</div>


@code {
    [Parameter]
    public string id { get; set; }
    public Product model = new();
    public Image img = new();
    public List<string> list = new();
    public List<Image> images = new();
    protected override async Task OnInitializedAsync()
    {
        var res = await service.GetProduct(Guid.Parse(id));
        var b = await _img.GetImages();
        images = b.Value. Where(s => id.Contains( s.ProductId.ToString())).ToList();
        list = images.Select(s => s.ImagePath).ToList();
        model = res;
    }

    public async Task Add()
    {
        this.model.Image_1 = list.First();
        this.model.Image_2 = list.Last();
        var res = await service.PutProduct(Guid.Parse(id),model);
        await Task.Run(()=> Post(Guid.Parse(id)));    
        router.NavigateTo("/admin/product");
    }

    public async Task Post(Guid Pid)
    {
        foreach (var item in images)
        {
            await _img.DeleteImage(item.ImageId);

        }

        await Assign(Pid);
    }

    public async Task Assign(Guid id)
    { 
        foreach (var item in list)
        {
           var data = new Image {ProductId = id,ImagePath = item };
           await _img.PostImage(data);
        }
    }

    public async Task Upload(InputFileChangeEventArgs args)
    {
         list.Clear();
        foreach (var item in args.GetMultipleFiles())
        {
            var stream = item.OpenReadStream(20000000);
            var path = $"wwwroot\\StaticFiles\\{item.Name}";
            var fs = File.Create(path);
            await stream.CopyToAsync(fs);
            stream.Close(); fs.Close();
            var load = $"/wwwroot/StaticFiles/{item.Name}";
            list.Add(load);
        }

    }


}
