@page "/admin/product"
@inject ProductsController service
@inject ImagesController img
@inject IJSRuntime js

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h4>Database Products</h4>&nbsp;
            <strong align="right"><i>&nbsp;-&nbsp;@list.Count()&nbsp;Products</i></strong>
        </div>
        <div class="card-header-form">
            <EditForm Model="@search" OnSubmit="Get">
                <div class="input-group col-md-8 col-sm-8">
                    <InputText  type="text" @bind-Value="@search.input" class="form-control" placeholder="Search by name or price"/>
                    <div class="input-group-btn">
                        <button class="form-control btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                     <div class="input-group-btn">
                        <button  class="form-control btn btn-warning" @onclick="refresh"><i class="fa fa-refresh"></i></button>
                    </div>
                </div>
            </EditForm>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover" style="width:100%;">
                    <thead>
                        <tr>
                            <th>Products</th>
                            <th>Price</th>
                            <th>Rating</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (@list != null)
                        {

                            @foreach (var item in list)
                            {

                                <tr>
                                    <td><a href="@item.Image_1"><img src="@item.Image_1" style="height:50px;width:50px;border-radius:425px;" /></a>&nbsp;@item.ProductName </td>
                                    <td>$&nbsp;@item.Price</td>
                                    <td>@item.Rating</td>
                                    <td><a class="btn btn-primary" href="/edit/product/@item.ProductId"><i class="fa fa-edit"></i></a></td>
                                    <td><button class="btn btn-danger" @onclick="@(async ()=> await Delete(@item.ProductId))"><i class="fa fa-trash"></i></button></td>
                                </tr>

                            }

                        }
                        @if(list.Count == 0)
                        {

                            <tr><td><i>No data available</i></td></tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@code {
    public List<Product> list = new();
    public List<Image> images = new();

    protected override async Task OnInitializedAsync()
    {
        await Get();
        var r = await img.GetImages();
        images = r.Value.ToList();
    }
    public Search search = new();
    public class Search
    {
        public string input{ get; set; }
    }

    
    public async Task refresh()
    {
        try
        {  
            var res = await service.GetProducts();
            list = res.OrderBy(s => s.ProductName).ToList();       

        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }
    public async Task Get()
    {
        try
        {  
            var res = await service.GetProducts();
            if(search.input == null)
            {
                list = res.OrderBy(s => s.ProductName).ToList();
            }
            else
            {
                list = res.Where(s => s.ProductName.ToLowerInvariant().Contains(search.input.ToLowerInvariant())||s.Price.ToLowerInvariant().Contains(search.input.ToLowerInvariant())).ToList();
            }
           
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }

    public async Task Delete(Guid id)
    {

        try
        {
            await service.DeleteProduct(id);
            await Get();

        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }


}
