@page "/admin/payments"
@inject PaysController service

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h4>Database Payments</h4>&nbsp;
            <strong align="right"><i>&nbsp;-&nbsp;@list.Count()&nbsp;Payments</i></strong>
        </div>
        <div class="card-header-form">
            <EditForm Model="@search" OnSubmit="Get">
                <div class="input-group col-md-8 col-sm-8">
                    <InputText  type="text" @bind-Value="@search.input" class="form-control" placeholder="Search by payment ID"/>
                    <div class="input-group-btn">
                        <button class="form-control btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                     <div class="input-group-btn">
                        <button  class="form-control btn btn-warning" @onclick="refresh"><i class="fa fa-refresh"></i></button>
                    </div>
                </div>
            </EditForm>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover"  style="width:100%;">
                    <thead>
                        <tr>
                            <th>Pay ID</th>
                            <th>User ID</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (@list != null)
                        {

                            @foreach (var item in list)
                            {

                                <tr>
                                   <td><strong>@item.PayId</strong></td>
                                    <td>@item.UserId</td>
                                    <td><button class="btn btn-danger" @onclick="@(async ()=> await Delete(@item.PayId))"><i class="fa fa-trash"></i></button></td>
                                </tr>

                            }

                        }
                        @if(list.Count == 0)
                        {

                            <tr><td><i>No data available</i></td></tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@code {
    public List<Pay> list = new();

    protected override async Task OnInitializedAsync()
    {
        await Get();

    }
    public Search search = new();
    public class Search
    {
        public string input{ get; set; }
    }


    public async Task refresh()
    {
        try
        {  
            var res = await service.GetPayment();
            list = res.Value.OrderByDescending(s => s.PayId).ToList();       

        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }
    public async Task Get()
    {
        try
        {  
            var res = await service.GetPayment();
            if(search.input == null)
            {
                list =  res.Value.OrderByDescending(s => s.PayId).ToList();
            }
            else
            {
                list = res.Value.Where(s => s.PayId.ToString().ToLowerInvariant().Contains(search.input.ToLowerInvariant())).ToList();
            }
           
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }

    public async Task Delete(Guid id)
    {

        try
        {
            await service.DeletePay(id);
            await Get();

        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }

   

}
